.title {
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 30px;
}

.header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}

.button:hover {
    font-size: 25px;
}

.button:active {
    color: #1b6d85;
}

.user_menu {
    width: 239px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button_logo {
    color: transparent;
    border: 0;
    width: 128px;
    height: 128px;
    background: url('../../Static/logo.png') no-repeat;
    animation: button_logo 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.button_logo_materials {
    color: transparent;
    border: 0;
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
    width: 128px;
    height: 128px;
    background: url('../../Static/logo_book.png') no-repeat;
}

.button_logo:hover {
    filter: brightness(150%);
}

.button_logo:active {
    animation: rotate-center 0.6s ease-in-out both;
}


@media screen and (min-width: 375px) and (max-width: 809px) {

    .title {
        height: 50px;
        font-size: 20px;
    }

    .button {
        font-size: 15px;
    }

    .button:hover {
        font-size: 17px;
    }

    .user_menu {
        width: 40%;
    }

    .button_logo {
        width: 100px;
        height: 100px;
        background-size: cover;
    }
    .button_logo_materials {
        margin-top: 15px;
    }

}

@keyframes button_logo {
    0% {
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes button_logo {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
