.button {
    height: 192px;
    width: 192px;
    border-radius: 50%;
    border: 1px;
    margin-bottom: 20px;
    background-color: transparent;
    border: solid;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
}