.button {
    height: 192px;
    width: 192px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background: #1b6d8580;
}

.link {
    text-decoration: none;
}