.container {
    display: flex;
    flex-direction: column;
    animation: container 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.button {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 10px;
    background-color: #1b6d8580;
    border: 1px solid white;
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background: #1b6d85;
}

.button:active {
    color: #1b6d85;
}

.link {
    text-decoration: none;
}

@media screen and (min-width: 375px) and (max-width: 809px) {

    .container {
        margin-top: 20px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .button {
        height: 120px;
        width: 120px;
        font-size: 20px;
    }

}

@keyframes container {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}